*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  color: #fff;
}
ul li{
  list-style: none;
}

